* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.screen_out {
  display: none;
}
/* header */
header {
  background-color: #efefef;
  overflow: hidden;
  border-bottom: 1px solid #9f9f9f;
  min-width: 1299px;
}
header li {
  float: left;
  background: 0 0 / 950px url(img/snb_new_nate.png);
  transition: ease all 0.3s;
}
header li:nth-child(2) {
  background-position-x: -78px;
}
header li:nth-child(3) {
  background-position-x: -316px;
}
header li:nth-child(4) {
  background-position-x: -395px;
}
header li:hover {
  background-position-y: -50px;
}
header a {
  display: block;
  height: 34px;
  width: 78px;
  text-indent: -9999px;
}
/* main */
main {
  height: 2214px;
  min-width: 1299px;
  background: no-repeat center / 1299px url(img/login_new3.png);
  padding-top: 82px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}
main::before {
  content: "";
  background-color: #f2f2f2;
  position: absolute;
  width: 100%;
  height: 400px;
  top: 35px;
  z-index: -1;
}
main::after {
  content: "";
  top: 1022px;
  height: 529px;
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: absolute;
  z-index: -1;
}
main > div {
  width: 440px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 7px 1px rgba(163, 163, 163, 0.3);
  background-color: #fff;
  padding-bottom: 39px;
  position: relative;
}
main a {
  color: #999;
  font-size: 12px;
}
main a span {
  color: #666;
  font-weight: bolder;
}
main h1 {
  padding: 32px;
}
main h1 a {
  display: block;
  width: 64px;
  height: 18px;
  text-indent: -9999px;
  overflow: hidden;
  background: 0 0 / contain url(img/logo_new.png);
  margin: auto;
}
main fieldset {
  border: none;
  margin: 0 39px;
}
main .txt {
  display: none;
}
main .txt_id {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 218px;
  height: 115px;
  background: 0 0 / 218px url(img/bg_login_id.png);
  margin-top: -165px;
  font-size: 11px;
  padding: 20px 12px 0;
}
main input:focus + .txt_id {
  display: block;
}
main .txt_id strong {
  color: #569bd2;
}
main .txt_id p:nth-child(2) {
  color: red;
  margin-top: 5px;
}
main .txt_id button {
  border: none;
  background: transparent;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  width: 9px;
  height: 9px;
  cursor: pointer;
  top: 8px;
  right: 8px;
}
main .remember {
  display: block;
  position: absolute;
  border: 1px solid #f5695e;
  padding: 8px;
  width: 153px;
  height: 45px;
  font-size: 11px;
  left: 0;
  top: 0;
  color: #666;
  background-color: #fff;
}
main .remember a {
  color: #f5695e;
  font-size: 11px;
}
main .remember a::after {
  content: "";
  border-left: 4px solid #f43b3b;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  margin: 5px 0 0 2px;
}
main .remember button {
  border: none;
  background: transparent;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  width: 9px;
  height: 9px;
  cursor: pointer;
  background: 0 0 / 9px url(img/bg_close.png);
  top: 5px;
  right: 5px;
}
main label + input {
  border: 1px solid #e6e6e6;
  width: 345px;
  height: 49px;
  display: block;
  padding-left: 15px;
  font-size: 14px;
  color: #8c8b90;
  outline: none;
  box-sizing: border-box;
}
main label + input:focus {
  border: 2px solid #fa4647;
  border-radius: 4px;
  text-indent: -9999px;
}
main #user_pw {
  margin: 9px 0 12px;
}
main #remember {
  position: absolute;
  margin-top: 5px;
}
main label[for="remember"] {
  color: rgb(102, 102, 102);
  font-size: 12px;
  padding-left: 19px;
}

main input[type="submit"] {
  background-color: #fa4647;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  border: none;
  display: block;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin: 25px 0 38px;
}

main p + a {
  font-size: 11px;
  float: right;
  margin-top: 5px;
}

main input + :checked ~ p {
  display: block;
}

main ul {
  overflow: hidden;
  justify-content: center;
  display: flex;
  padding-bottom: 35px;
}

main li {
  margin: 0 12px;
}

main li:not(:last-child)::after {
  content: "";
  border-left: 1px solid #e2e2e2;
  position: absolute;
  height: 11px;
  margin: 7px 0 0 11px;
}

/* footer */
footer {
  min-width: 1299px;
}

footer div {
  width: 660px;
  position: relative;
  margin: 100px auto;
}

footer h2 {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: ;
}

footer address {
  font-style: normal;
  color: #aaa;
  font-size: 12px;
  padding-top: 7px;
}

footer ul {
  position: absolute;
  right: 0;
  top: 5px;
  display: flex;
}

footer a {
  display: block;
  width: 200px;
  height: 55px;
  background: 420px url(img/login_footer.gif);
  text-indent: -9999px;
  overflow: hidden;
  margin-left: 20px;
}

footer li:nth-child(2) a {
  background-position-x: -220px;
}
